DB_USER=
DB_PASSWORD=
DB_HOST=
DB_NAME=
DB_PORT=
JWT_SECRET=
MONGODB_URI=
EFI_BANK_BASE_URL=
LNBITS_BASE_URL=
EFI_BANK_CERT_PATH=
EFI_BANK_CLIENT_ID=
EFI_BANK_CLIENT_SECRET=
EFI_BANK_PIX_KEY=
LNBITS_API_KEY=
LNBITS_WEBHOOK_PATH=
PHOTOS_BUCKET_NAME=